{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block stylesheets %}
  <style>
    .herobanner {
        background-color: #4d4d4d;
        background-size: cover;
        background-position: center;
        height: 75vh;
        width: 100%;
    }
    
    .herobanner h1{
        font-size: 48px;
        font-weight: bold;
        padding-top: 25vh;
    }

    .herobanner h2 {
        font-size: 32px;
        font-weight: bold;
    }   

  </style>
{% endblock %}

{% block body %}
    <section class="container-fluid">
        <div class="herobanner">
            <h1 class="text-center text-white">Bienvenue sur Cineflix</h1>
            <h2 class="text-center text-white pt-4">Le meilleur de Netflix</h2>
        </div>
    </section>
	<section class="container my-5">
		<div class="row">

            <h2 class="mt-5 mb-4 text-center">Series populaires</h2>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                {% for serie in series %}
                <div class="col">
                    <a href="/fiche/{{ serie.id }}" class="card">
                    <img src="{{ asset("upload/images/poster/" ~ serie.poster) }}" class="card-img-top" alt="{{ serie.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ serie.title }}</h5>
                        <p class="card-text d-inline-block text-truncate" style="max-width: 10vw;">{{ serie.description }}</p>
                    </div>
                    </a>
                </div>
                {% endfor %}
            </div>

             <h2 class="mt-5 mb-4 text-center">Films populaires</h2>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                {% for movie in movies %}
                <div class="col">
                    <a href="/fiche/{{ movie.id }}" class="card">
                    <img src="{{ asset("upload/images/poster/" ~ movie.poster) }}" class="card-img-top" alt="{{ movie.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text d-inline-block text-truncate" style="max-width: 10vw;">{{ movie.description }}</p>
                    </div>
                    </a>
                </div>
                {% endfor %}
            </div>

            <h2 class="mt-5 mb-4 text-center">Animes populaires</h2>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                {% for anime in animes %}
                <div class="col">
                    <a href="/fiche/{{ anime.id }}" class="card">
                    <img src="{{ asset("upload/images/poster/" ~ anime.poster) }}" class="card-img-top" alt="{{ anime.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ anime.title }}</h5>
                        <p class="card-text d-inline-block text-truncate" style="max-width: 10vw;">{{ anime.description }}</p>
                    </div>
                    </a>
                </div>
                {% endfor %}
            </div>

		</div>
	</section>
{% endblock %}
